*.cmake
*.G4Table
*CMakeFiles*
*.ninja*
*.swp
*.pcm
Makefiles
Makefile
*.gitignore
CMakeCache.txt
*.dylib
*.so
*.gdml
*.root
*.root.log
*.vscode*
*.wrl
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.aux
*.toc
install_manifest.txt
.DS_store
*Projects*
Projects/MUSETT/Simu_Damien
Projects/E805/E805
Projects/E805/E843
Projects/E805/elog
Projects/E805/Scripts
Projects/E805/Figures
Projects/E805/CUT
.last_*
npanalysis
npreader
nponline
nptool-cleaner
nptool-installer
npsimulation
*.reaction
*.detector
*.source
NPData/*
Projects/T40/*cxx
Inputs/EnergyLoss/*.G4table
Inputs/CrossSection/G4XS*
Inputs/CrossSection/*.C
Inputs/CrossSection/*.dat
.ls_return
Documentation/user_guide.log
*.bbl
*.blg
*.SRIM
*.sublime-*
PhysicsListOption.txt
Projects/T40/Analysis.cxx
Projects/T40/Analysis.h
Projects/T40/T40.detector
Projects/T40/19Fdp.reaction
Projects/T40/configs/*.dat
Outputs
Outputs/*
Outputs/*/*.*
NPLib/Utility/npspectra_test
